*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
	height: 90%;

}
body {
	font-family: 'Poppins', sans-serif;
	place-items: center;
    background-color: #fff;
}
input {
    font: inherit;
	border: none;
    top: 20px;
    font-weight: bold;
}
textarea{
    font: inherit;
	border: none;
    top: 20px;
}
select{
    font: inherit;
	border: none;
    top: 20px;   
    font-weight: bold;
    color: #9274b3;
}
button{
    font: inherit;
    text-decoration: none;
    border: none;
	color: inherit;
}

select{
    font: inherit;
	border: none;
    top: 20px;   
    font-weight: bold;
    color: #000;
}
form {
    margin-inline: auto;
	max-width: 790px;
    display: flex;
	border-radius: 8px;
	flex-direction: column;
	padding: 25px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 5px;
    background-color: #f38238;
    color: #fff;
    cursor: pointer;
    border-radius: 1px;
    padding: 2px;
    outline: 2px solid #f38238;
    transition: color 1s;
}

.search:hover {
    color: black;
    cursor: pointer;
}

.input-group .fechas{
    color: #9274b3;
    font-size: 1.1rem;
    align-self: flex-end; 
}

.Alertas{
    font-size: 15px;
    color: red;
}

.container-form{
    display: flex; 
    flex-direction:row;
    gap: 6em;
}

.containerTotal{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: 17rem auto;
}

.containerModal{
    max-width: 1090px;
    width: 520px;
    margin-inline: auto;
    margin-top: 80px;
    margin-bottom: 180px;
    background-color: #fff;
    border-style: double;
    border-color:#b4d77b;
    padding: 15px 55px;
    border-radius: 2em;
	box-shadow: 0 1px 1rem 
		rgba(0, 0, 0, 0.1);
}
.containerModalEliminar{
    text-align: center;
    max-width: 490px;
    width: 590px;
    margin-inline: auto;
    margin-top: 80px;
    background-color: #fff;
    border-style: double;
    border-color:#b4d77b;
    padding:5px 5px;
    border-radius: 2em;
	box-shadow: 0 1px 1rem 
		rgba(0, 0, 0, 0.1);
}

/*----------- main ----*/

main .recent-orders{
    margin-top: 2rem;
}
main .recent-orders .table-cita{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-orders .table-cita:hover{
    box-shadow: none;
}

main .table-cita tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main .table-cita tbody tr:last-child td{
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}


.checkout-information,
.input-group {
    margin-left: 20px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.input-group2{
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.input-group {
	gap: 8px;
}
.input-group label {
    font-size: 0.87rem;
	color: #f5f5f5;
	font-weight: bold;
}
.input-group2 label {
	font-size: 15px;
	color: #f5f5f5;
	font-weight: bold;
}
.input-group .labelModal {
    font-size: 0.87rem;
	color: #b4d77b;
	font-weight: bold;
}
.input-group .labelModal {
    font-size: 0.87rem;
	color: #b4d77b;
	font-weight: bold;
}
input::placeholder {
    color: #9274b3;
    font-weight: bold;
}

textarea::placeholder{
    color: #9274b3;
    font-weight: bold;
}

.input-group input,textarea,select {
	width: 100%;
	padding: 10px 15px;
	border-radius: 8px;
	background-color: #ffffff;
    height: 100%;
}

.input-group2 input,textarea,select {
	width: 100%;
	padding: 10px 15px;
	border-radius: 8px;
	background-color: #ffffff;
    height: 100%;
}

.title {
	position: relative;
    display: block;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #f38238;
}

.title2 {
	position: relative;
    display: block;
    font-size: 2em;
    color: #8f0505;
}
.button-container {
    display: flex;
    justify-content: flex-end; /* Cambiamos de "right" a "flex-start" */
}

.button {
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
    font-weight: bold;
    background-color: #f38238 ;
    color: #fff;
    border-radius: 1px;
    outline: 2px solid #f38238;
    padding: 5px 10px;
    margin-top: 7px;
    overflow: hidden;
    width: 120px;
    transition: color 1s;
}

.button:hover {
    color: black;
    cursor: pointer;

}
.ButtonEliminar {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: #f38238 ;
    color: #fff;
    border-radius: 1px;
    outline: 2px solid #f38238;
    padding: 5px 10px;
    margin-top: 7px;  
    margin-left: 53em;
    overflow: hidden;
    width: 220px;
    justify-content: right;
    transition: color 1s;
}
.ButtonEliminar:hover {
    color: black;
    cursor: pointer;
}


/* Estilos para el modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .input-group2{
	display: flex;
	flex-direction: row;
	gap: 1px;
}
.input-group2 .input2 {
	width: 70%;
	padding: 10px 15px;
	border-radius: 8px;
	background-color: #f2f2f2;
    height: 60%;
}
.input-group2 .input3 {
	width: 70%;
	padding: 10px 15px;
	border-radius: 8px;
	background-color: #f2f2f2;
    height: 60%;
}
.input-group2 label {
	font-size: 15px;
	color: #f5f5f5;
	font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    color: #000;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #f38238;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: rgb(64, 192, 52);
}

.pagination .current-page {
    background-color: #4CAF50;
    color: #f38238;
}


.notification {
	position: absolute;
	bottom: 50px;
	left: 50px;
	width: max-content;
	padding: 20px 15px;
	border-radius: 4px;
	background-color: #141619;
	color: #f6f5f9;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	animation: fade-in 4s linear forwards;
}
.notification__progress {
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: calc(100% - 10px);
	height: 3px;
	transform: scaleX(0);
	transform-origin: left;
	background-image: linear-gradient(to right, #539bdb, #3250bf);
	border-radius: inherit;
	animation: load 3s 0.25s linear forwards;
}
@keyframes fade-in {
	5% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	90% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes load {
	to {
		transform: scaleX(1);
	}
}




td:nth-of-type(1){
    color: #9274b3;
    font-size: 1.5em;
    font-weight: bold;
}