@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root {
    --color-primary: #49c691;
    --color-danger:#6a91f4;
    --color-success: #b4d77b;
    --color-warning: #6a91f4;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #49c691;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;
    
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/*=========== dark mode ===============*/
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'poppins', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap :1.5rem;
    grid-template-columns: 17rem auto 23rem;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 0.80rem;
}

h4{
    font-size: 2.50rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.70rem;;
}

.text-muted{
    color: var(--color-info-dark);      
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-primary);
}

.success{
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}


tr {
    background-color: var(--color-white);
    border-radius: 40px;
     /* Borde ovalado */
}
td {
    text-align: center;
}
th {
    background-color: #f6f6f9;
    color: #6a90f1;
}

input {
    font: inherit;
	border: none;
    font-weight: bold;
}
textarea{
    font: inherit;
	border: none;
    top: 20px;
}

button{
    font: inherit;
    text-decoration: none;
    border: none;
	color: inherit;
}

select{
    font: inherit;
	border: none; 
    font-weight: bold;
    color: #000;
}
form {
    margin-inline: auto;
	max-width: 990px;
    text-align: center;
    display: flex;
	border-radius: 8px;
	flex-direction: column;
	padding: 25px;
}
/* ============ MAIN ===============*/
main{
    margin-top: 1.4rem;
}  

main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 4fr));
    gap: 1.6rem;
}

main .insights > div {
    background: var(--color-white);
    padding:  var(--card-padding);
    text-align: center;
    color:#49c691;
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

/*========= right =======*/
.right {
    margin-top:1.4rem;
}

.right .top {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}
.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

/*============== recent updates ============*/
.right .recent-updates {
    margin-top: 1rem;
}


.right .recent-updates h2 {
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
.right .recent-updates .updates:hover{
    box-shadow: none;
}

.right .recent-updates .updates .update {
    gap: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.right .recent-updates .message {
    margin-top: 1em;
}

/* ========= DANIEL ===========*/

.agenda {
    max-width: 400px;
    margin: 0px;
    border-radius: 10px;
    padding: 20px;
}

.button3 {
margin: 10px auto;
padding: 10px 20px;
background-color: #49c691;
color: #fff;
border: none;
border-radius: 30px;
cursor: pointer;
margin-left: auto;
margin-right: 20px; 
}

.div_event3{
    background-color: #6A90F1; 
    border-radius: 20px 20px 0px 0px; 
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    color: #fff; 
    padding: 15px 25px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    position: relative;
}

.h3-dsh{
    text-align: start; 
    margin:5px 30px;
}

.pie-chart{
    border-radius: 20px; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    margin:20px 0px; 
    color:#6A90F1;
}

.section-cia{
    border-radius: 5px; 
    border: 2px solid #a0a0a0; 
    padding: 2px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 5px;
    background-color: #49c691;
    color: #ffffff;
    cursor: pointer;
    border-radius: 7px;
    border: 0.1em solid #49c691; /* Color del borde */
    padding: 2px;
    outline: 2px solid #49c691;
    transition: color 1s;
}

.search:hover {
    color: black;
    cursor: pointer;
}

.containerTotal{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: 17rem auto;
}

input[type="date"]{
    background: transparent;
    text-align: center;
}

main .recent-citas{
    margin-top: 2rem;
}

main .recent-citas h2{
    margin-bottom: 0.8rem;
}

main .recent-citas a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.checkout-information,
.input-group {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.checkout-information {
	background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.checkout-information:hover{
    box-shadow: none;
}

.input-group2{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

input::placeholder {
    color: #49c691;
    font-weight: lighter;
    font-style: italic;
}

textarea::placeholder{
    color: #49c691;
    font-weight: lighter;
    font-style: italic;
}

.input-group input{
	width: 100%;
	padding: 10px 15px;
	border-radius: 8px;
	background-color:var(--color-background);
    height: 100%;
}

.input-group2 input,textarea,select {
	width: 100%;
	padding: 10px 15px;
	border-radius: 8px;
	background-color: var(--color-background);
}
.button-container {
    display: flex;
    gap: 20px;
    justify-content: flex-end; /* Cambiamos de "right" a "flex-start" */
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
    color: #49c691;
    cursor: pointer;
    border-radius: 10px ;
    border: 0.1em solid #49c691; /* Color del borde */
    padding: 12px 40px;
    outline: 1px solid #49c691;
    transition: color 1s;
}

.button:hover {
    color: black;
    cursor: pointer;

}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    color: #000;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #49c691;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: rgb(64, 192, 52);
}

.pagination .current-page {
    background-color: #4CAF50;
    color: #49c691;
}

.notification {
	position: absolute;
	bottom: 50px;
	left: 50px;
	width: max-content;
	padding: 20px 15px;
	border-radius: 4px;
	background-color: #141619;
	color: #f6f5f9;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	animation: fade-in 4s linear forwards;
}

.notification__progress {
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: calc(100% - 10px);
	height: 3px;
	transform: scaleX(0);
	transform-origin: left;
	background-image: linear-gradient(to right, #539bdb, #3250bf);
	border-radius: inherit;
	animation: load 3s 0.25s linear forwards;
}

@keyframes fade-in {
	5% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	90% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes load {
	to {
		transform: scaleX(1);
	}
}

@media screen and (max-width: 1280px) {
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-orders table {
        width: 83vw;
    }
    
    main table thead tr th:last-child,
    main table thead tr th:first-child{
        display: none;
    }

    main .insights{
        display: flex;
        width: 600px;
        gap: 1.6rem;
        margin-bottom: 10px;
    }

    main .insights > div {
        background: var(--color-white);
        padding:  5px 24px;
        border-radius: var(--card-border-radius);
        margin-top: 1rem;
        box-shadow: var(--box-shadow);
        transition: all 300ms ease;
    }

    .containerTotal{
        width: 94%;
        grid-template-columns: 7rem auto;
    }

    .container-form-cita{
        grid-template-columns: 1fr;
        gap: 0;
    }
}
/* Estilo para el botón desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para el botón */
.dropbtn {
    background-color: #ffffff;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

/* Estilo para el contenido desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Estilo para los enlaces en el contenido desplegable */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Cambia el color de fondo de los enlaces al pasar el cursor por encima */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Muestra el contenido desplegable al pasar el cursor por encima del botón */
.dropdown:hover .dropdown-content {
    display: block;
}
.container-paciente-tabla.active{
    display: grid;
    width: 100%;
    margin: 20px;
    gap :1rem;
    grid-template-columns: auto auto ;
    }
    .container-paciente-tabla{
        display: grid;
        width: 100%;
        margin: 20px;
        grid-template-columns: auto 0rem;
    }

    .patient-details {
        display: none;
        width: 1200px;
        text-align: center;
        color: #49c691;
        border-radius: var(--card-border-radius);
        margin-top: 1rem;
        box-shadow: var(--box-shadow);
        animation: fadeIn 0.5s ease-in-out;
    }
    .hidden {
        display: none;
    }
    .input-group4{  /*   Modifique esta clase para mi formulario - Hans */
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between; /*Este codigo genera mi espaciado entre mis parrafos */
        border-bottom: 1px solid rgb(176, 174, 174);  /*Este codigo coloca los bordes entre mis parrafos */
    }
    
    .input-group3{ /*   Añadi esta clase para mi formulario - Hans */
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        /* margin-bottom: 30px; */
    }
/* PAGE DATOS PACIENTE- HISTORIAL */

.ContAtencion{
    display: flex;
    background-color: #f6f5f9;
    padding: 1px;
    margin: 40px 20px 0px 50px;
    height: 70%;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 2px 4.5px 18px 7px rgba(0, 0, 0, 0.2);
}
.CAtencion{
    width: 95%;
    height: 80%;
    color: white;
}

.table-container {
    max-height: 99%;
    width: 116%;
    overflow-y: auto;
}

/* Oculta la barra de desplazamiento vertical */
.table-container::-webkit-scrollbar {
    width: 0.5em; /* Ancho de la barra de desplazamiento */
    padding: -10px;
}

/* Estilo de la barra de desplazamiento (opcional) */
.table-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color de fondo del control deslizante de la barra de desplazamiento */
    border-radius: 4px; /* Radio de esquinas del control deslizante */
}

/* Estilo del riel de la barra de desplazamiento (opcional) */
.table-container::-webkit-scrollbar-track {
    background-color: transparent; /* Color de fondo del riel de la barra de desplazamiento */
}
/* Agrega margen izquierdo cuando la clase "open" está presente */
.details.open {
    margin-left: -20px;
}
.TabAtencion{
    border-collapse: collapse;
    margin: 25px;
    width: 83%;
}
.TabAtencion tr {
    background-color: #D5E1EF;
}
.TabAtencion tr p{
    color: #3d3d3d;
}
.TabAtencion tr th {
    background-color: #D5E1EF;
}
.TabAtencion tr th:hover {
    background-color: #6A92F4;
}
.TabAtencion tr.selected {
    background-color: #6A92F4; /* Cambia el color de fondo al hacer clic */
    color: white;
}
.TabAtencion td {
    padding: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    border-bottom: 2px solid #BCC5D4;
}
/* Aplicar border-radius al primer td del primer tbody */
.TabAtencion tbody:first-child tr:first-child td:first-child {
    border-top-left-radius: 25px;
}

/* Aplicar border-radius al primer tr del primer tbody */
.TabAtencion tbody:first-child tr:first-child {
    border-top-right-radius: 25px;
}

/* Establecer el borde a "none" solo en las últimas celdas td de la última fila tr del primer tbody */
.TabAtencion tbody:first-child tr:last-child td {
    border: none;
}
.line{
    background-color: #6A92F4;
    height: 101%;
    width: 5px;
    margin: 18px 0px 0px 0px;
}
.DetallesVer{
    height: 105%;
    background-color: #ffffff;
    border-radius: 0px 20px 20px 0px;
    width: 560px;
    margin-right: -1px;
    box-shadow: 2px 4.5px 18px 7px rgba(0, 0, 0, 0.2);
    position: relative;
}
.contDetalles{
    display: flex;
    flex-direction: row;
    margin: -20px 0px 0px 26px;
    transition: max-height 0.3s ease-in-out;
}
.contentDet{
    position: absolute;
    height: 93%;
    width: 68%;
    margin: 15px;
    padding: 20px;
}
.date{
    background-color: #6A92F4;
    height: 90px;
    width: 120px;
    border-radius: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.buttone{
    margin-top: 10px;
    margin-left: -33px;
    width: 130px;  height: 30px;
    border-radius: 30px;
    font-size: 10.2px;
    background-color: #52C291;
    color: white;
}
.pp {
    margin-bottom: 30px; /* Puedes ajustar el valor según tu preferencia */
  }

.pp2 {
    color: #A8C3C9;
    font-size: 15px;
    font-weight: 500;
}
#button2{   
    width: 130px;  height: 30px;
    border-radius: 30px;
    font-size: 10.2px;
    background-color: #52C291;
    color: white;
}
.BUT {
    justify-content: flex-end;
    display: flex;
}
.izquierda {
    flex: 1;
    text-align: left;
}
.derecha {
    flex: 1;
    text-align: right;
}
.arriba{ /*Nueva clase creada para el formulario - Hans */
color: #89BEF5; /*Añadi un cambio de color - Hans */
font-size: 15px;
font-weight: bold;
}
.abajo{ /*Nueva clase creada para el formulario - Hans */
font-size: 0.90rem;
color: #89BEF5; /*Añadi un cambio de color - Hans */
font-weight: normal;
text-align: center;
}
.visual{ /*Nueva clase creada para el forulario - Hans */
color: #49c691; 
font-size: 2rem;
font-weight: bold;
}
.input-group30{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}
.contis{
    padding: 0px 0px 0px 15px;
    display: flex;
    gap: 47%;
}
.visualizar{
    display: flex;
    flex-direction: column;
}
.datitos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 1462px) {
    td {
        text-align: center;
        padding: 13px;
    }
    .patient-details {
        width: 97% !important;
        height: 72%;
        padding: 9px;
        background-color: white;
    }
    .arriba {          
        font-size: 12px;
    }
    .pie-chart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .insights > div {
        padding: 24px 24px;
        margin-top: 0px;
        width: 209px;
        height: 150px;
    }
    main .insights {
        display: flex;            
        flex-direction: row;
    }
}
